In [27]:
import pandas as pd
import numpy as np
from scipy.stats import entropy
from collections import defaultdict
import time
import math

In [2]:
train2 = pd.read_csv("../data/train2.csv")
train2 = train2.drop(['Unnamed: 0'], axis=1)
train2['user_id'] = [i for i in range(1,len(train2)+1)]
train2.set_index('user_id',inplace=True)
train2.head()
#train2 = train2[]

,1,2,3,4,5,6,7,8,9,10,...,1629,1630,1631,1632,1633,1634,1635,1638,1641,1648
user_id,,,,,,,,,,,,,,,,,,,,,
1,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0
2,5.0,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6.0,5.0,1.0,NaN,5.0,NaN,6.0,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,5.0,4.0,NaN,3.0,NaN,5.0,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
N_USER = len(train2)
#N_USER = 5
ENPY = defaultdict(lambda : defaultdict(float))

In [66]:
for i in range(1,N_USER+1):
    #item to it-self has entropy 0
    ENPY[i][i] = 0.
    if i % 500 == 0:
        start_time = time.time()
    
    for j in range(i,N_USER+1):
        if j > i:
            Ri = train2.loc[i]
            Rj = train2.loc[j]
            Dij = (Ri-Rj).dropna(axis=0)

            if len(Dij) > 0:
                #if there exists common rated items
                ed = 0.
                for d in set(Dij):
                    Pd = float(Dij.tolist().count(d))/len(Dij)
                    if Pd > 0:
                        ed += - Pd * math.log(Pd, 2)
                ENPY[i][j] = ed
                ENPY[j][i] = ed
        
            else:
                #o.w.,assign entropy 999
                ENPY[i][j] = 999
                ENPY[j][i] = 999
    if i % 500 == 0:
        print "---Finish computing entropy score for",i,"users---"
        print "--- %s seconds ---" % (time.time() - start_time)

---Finish computing entropy score for 500 users---
--- 3.5123591423 seconds ---
---Finish computing entropy score for 1000 users---
--- 2.97863292694 seconds ---
---Finish computing entropy score for 1500 users---
--- 2.63512897491 seconds ---
---Finish computing entropy score for 2000 users---
--- 2.25483608246 seconds ---
---Finish computing entropy score for 2500 users---
--- 1.81277084351 seconds ---
---Finish computing entropy score for 3000 users---
--- 1.48169898987 seconds ---
---Finish computing entropy score for 3500 users---
--- 1.09337496758 seconds ---
---Finish computing entropy score for 4000 users---
--- 0.745284080505 seconds ---
---Finish computing entropy score for 4500 users---
--- 0.39243388176 seconds ---
---Finish computing entropy score for 5000 users---
--- 0.0410809516907 seconds ---

In [76]:
df = pd.DataFrame.from_dict(ENPY) #convert nested dict to dataframe and save to csv

In [83]:
df.head()

,1,2,3,4,5,6,7,8,9,10,...,5046,5047,5048,5049,5050,5051,5052,5053,5054,5055
1,0.000000,2.667646,2.598532,2.480716,2.561361,2.324514,2.796688,2.569956,2.317571,2.362887,...,2.719836,2.404935,2.343005,2.177918,2.343104,2.413927,2.335978,2.373016,2.454507,2.615112
2,2.667646,0.000000,2.571887,2.470051,2.466432,2.329731,2.766666,2.503706,2.111217,2.198192,...,2.428685,1.670951,1.847420,1.976282,1.900209,2.307189,1.971335,2.208987,2.293059,2.622683
3,2.598532,2.571887,0.000000,2.542308,2.738573,2.493687,2.772020,2.754404,2.503203,2.630183,...,2.789481,1.976175,2.324570,2.509508,2.578913,2.549796,2.726733,2.525598,1.842870,2.929943
4,2.480716,2.470051,2.542308,0.000000,2.476518,2.307295,2.893426,2.347691,2.616484,2.319206,...,2.824198,2.346439,2.102933,1.905639,2.192172,2.052421,2.910440,2.521146,2.482292,2.526121
5,2.561361,2.466432,2.738573,2.476518,0.000000,2.280460,2.847567,2.199820,2.610075,2.402322,...,2.321091,2.214649,2.429764,2.601227,2.196634,2.190793,2.483035,2.546881,2.142661,2.738896

In [80]:
df.to_csv('entropy.csv')

In [86]:
df.head()

,1,2,3,4,5,6,7,8,9,10,...,5046,5047,5048,5049,5050,5051,5052,5053,5054,5055
1,0.000000,2.667646,2.598532,2.480716,2.561361,2.324514,2.796688,2.569956,2.317571,2.362887,...,2.719836,2.404935,2.343005,2.177918,2.343104,2.413927,2.335978,2.373016,2.454507,2.615112
2,2.667646,0.000000,2.571887,2.470051,2.466432,2.329731,2.766666,2.503706,2.111217,2.198192,...,2.428685,1.670951,1.847420,1.976282,1.900209,2.307189,1.971335,2.208987,2.293059,2.622683
3,2.598532,2.571887,0.000000,2.542308,2.738573,2.493687,2.772020,2.754404,2.503203,2.630183,...,2.789481,1.976175,2.324570,2.509508,2.578913,2.549796,2.726733,2.525598,1.842870,2.929943
4,2.480716,2.470051,2.542308,0.000000,2.476518,2.307295,2.893426,2.347691,2.616484,2.319206,...,2.824198,2.346439,2.102933,1.905639,2.192172,2.052421,2.910440,2.521146,2.482292,2.526121
5,2.561361,2.466432,2.738573,2.476518,0.000000,2.280460,2.847567,2.199820,2.610075,2.402322,...,2.321091,2.214649,2.429764,2.601227,2.196634,2.190793,2.483035,2.546881,2.142661,2.738896

In [119]:
train = pd.read_csv("../data/MS_train2.csv")
train = train.drop(['Unnamed: 0'], axis=1)
train.set_index('User',inplace=True)
train.fillna(0.0, inplace=True, axis=1)
train.head()

,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,...,1270,1271,1272,1273,1274,1276,1277,1280,1284,1295
User,,,,,,,,,,,,,,,,,,,,,
10010,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10019,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10021,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10031,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10035,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [125]:
N_USER = len(train)
ENPY1 = defaultdict(lambda : defaultdict(float))
USER_IDS = train.index

In [127]:
for i in range(0,N_USER):
    #item to it-self has entropy 0
    ENPY1[USER_IDS[i]][USER_IDS[i]] = 0.
    if i % 500 == 0:
        start_time = time.time()
    
    for j in range(i,N_USER):
        if j > i:
            Ri = train.iloc[i]
            Rj = train.iloc[j]
            Dij = abs(Ri-Rj)
            
            if len(Dij) > 0:
                #if there exists common rated items
                ed = 0.
                for d in set(Dij):
                    Pd = float(Dij.tolist().count(d))/len(Dij)
                    if Pd > 0:
                        ed += - Pd * math.log(Pd, 2)
                ENPY1[USER_IDS[i]][USER_IDS[j]] = ed
                ENPY1[USER_IDS[j]][USER_IDS[i]] = ed
        
            else:
                #o.w.,assign entropy 999
                ENPY1[USER_IDS[i]][USER_IDS[j]] = 999
                ENPY1[USER_IDS[j]][USER_IDS[i]] = 999
    if i % 500 == 0:
        print "---Finish computing entropy score for",i,"users---"
        print "--- %s seconds ---" % (time.time() - start_time)

---Finish computing entropy score for 0 users---
--- 2.61104989052 seconds ---
---Finish computing entropy score for 500 users---
--- 1.91706705093 seconds ---
---Finish computing entropy score for 1000 users---
--- 1.60977387428 seconds ---
---Finish computing entropy score for 1500 users---
--- 1.4099779129 seconds ---
---Finish computing entropy score for 2000 users---
--- 1.36798000336 seconds ---
---Finish computing entropy score for 2500 users---
--- 0.852322816849 seconds ---
---Finish computing entropy score for 3000 users---
--- 0.58745098114 seconds ---
---Finish computing entropy score for 3500 users---
--- 0.336565971375 seconds ---
---Finish computing entropy score for 4000 users---
--- 0.0832011699677 seconds ---

In [128]:
df1 = pd.DataFrame.from_dict(ENPY1) #convert nested dict to dataframe and save to csv
df1.head()

,10010,10019,10021,10031,10035,10036,10038,10039,10065,10068,...,42637,42642,42646,42650,42665,42667,42692,42698,42707,42708
10010,0.000000,0.340007,0.421275,0.381949,0.279248,0.368278,0.310387,0.229185,0.325375,0.470173,...,0.263042,0.295020,0.279248,0.325375,0.279248,0.263042,0.310387,0.193085,0.263042,0.263042
10019,0.340007,0.000000,0.354302,0.310387,0.263042,0.354302,0.263042,0.310387,0.310387,0.481826,...,0.279248,0.279248,0.295020,0.340007,0.295020,0.246368,0.325375,0.310387,0.211444,0.310387
10021,0.421275,0.354302,0.000000,0.368278,0.354302,0.295020,0.325375,0.368278,0.340007,0.408436,...,0.340007,0.279248,0.325375,0.340007,0.354302,0.340007,0.295020,0.395331,0.310387,0.310387
10031,0.381949,0.310387,0.368278,0.000000,0.310387,0.279248,0.246368,0.295020,0.325375,0.470173,...,0.263042,0.263042,0.310387,0.354302,0.310387,0.295020,0.310387,0.354302,0.295020,0.295020
10035,0.279248,0.263042,0.354302,0.310387,0.000000,0.263042,0.263042,0.279248,0.310387,0.433859,...,0.174034,0.246368,0.263042,0.368278,0.229185,0.174034,0.263042,0.310387,0.211444,0.211444

In [129]:
df1.to_csv('entropy1.csv')